.footer {
	background-color: #0F0F0F;
	padding: 20px 0px;
	&__body {
		@include flexbox();
		justify-content: space-between;
	}
	&__info {}
	&__info-text {
		font-size: 15px;
		line-height: 16px;
		color: #D0D0D0;
	}
	&__author {}
	&__author-text {
		a{
			font-weight: bold;
			font-size: 15px;
			line-height: 16px;
			text-align: right;
			color: #D0D0D0;
			@include anim(0.3s,0s);
			&:hover{
				text-decoration-line: underline;			
			}	
		}

	}
}

